<!DOCTYPE html>
<html>
<head>
  <title>X3apdb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
    table.sector td {
      text-align: center;
      padding: 0.5em;
      width: 96px;
      height: 96px;
      border: 1px solid #ccc;
    }
  </style>

</head>
<body>

<%= yield %>

</body>
</html>
